@media (min-width: 1600px) {
    .container {
        width: 1600px !important;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        position: fixed;
        margin: 0 73px;
        width: 30%;
        max-width: 370px;
        overflow: hidden;
        column-width: 370px;
        height: 100vh;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 73px;
        margin-left: calc(min(30%, 370px) + 80px + 73px);
        margin-right: 73px;
    }
}

@media (max-width: 1023px) {
    .sidebar {
        margin: 37px 37px;
    }

    .main {
        margin: 0 20px;
    }
}

@media (max-width: 424px) {
    .sidebar {
        margin: 14px 14px;
    }
    
    .main {
        margin: 0 14px;
    }
}

.background {
    display: flex;
    justify-content: center;
    background: #E8E9EA;
    width: 100vw;
}

.container {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 37px;
}