@media (max-width: 1023px) {
    .sidebar {
        display: none;
    }
}

@media (min-width: 1024px) {
    .sidebar {
        position: fixed;
        margin: 0 73px;
        width: 30%;
        max-width: 370px;
        overflow: hidden;
        column-width: 370px;
        height: 100vh;
    }
}

@media (min-width: 1600px) {}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    background: #E8E9EA;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 73px;
    margin-left: calc(min(30%, 370px) + 80px + 73px);
    margin-right: 73px;
}